{% extends 'reblock/review.html' %}
{% load static %}

{% block content %}

	<div id="update">
		<div id="preload"><p>Loading...</p></div>
	</div>

	<!-- <div id="container"></div> -->
	<div class="inline-dialog">
		<h2>Project Name</h2>
		<form id="layerconfigure" action="/reblock/compute/" method="POST" enctype="multipart/form-data" class="dialog-body">
			{% csrf_token %}
			{{ formset.management_form }}
			<input type="submit" value="Check" />
			<div> Project Index: <input type="text" name="projindex"/>(default = 0)</div>
			<div> Intermediate Step Index: <input type="text" name="stepindex"/></div>
		</form>
	</div>

	{% block scripts %}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script>


		var loadmap = function(ori,road, inter){

			var oriJSONList = ((ori).replace(/&(l|g|quo)t;/g, function(a,b){
				return {
					l   : '<',
					g   : '>',
					quo : '"'
				}[b];
			}));

			var oriData = JSON.parse( oriJSONList );

			var roadJSONList = ((road).replace(/&(l|g|quo)t;/g, function(a,b){
				return {
					l   : '<',
					g   : '>',
					quo : '"'
				}[b];
			}));

			var roadData = JSON.parse( roadJSONList );


			var interJSONList = ((inter).replace(/&(l|g|quo)t;/g, function(a,b){
				return {
					l   : '<',
					g   : '>',
					quo : '"'
				}[b];
			}));

			var interData = JSON.parse( interJSONList );



			var orilayer = L.geoJson(oriData, {
				weight: 1.5,
				color: "#FFA500",
				opacity: 0.8,
				fillColor: "#B0DE5C",
				fillOpacity: 0.8,
				dashArray: '4',

			});

			var interlayer = L.geoJson(interData, {
				weight: 2.5,
				color: "#FFA500",
				opacity: 0.8,
				fillColor: "#blue",
				fillOpacity: 0.8

			});

			var roadlayer = L.geoJson(roadData, {
				weight: 2.5,
				color: "#2F4F4F",
				opacity: 0.8,
				fillColor: "#B0DE5C",
				fillOpacity: 0.8

			});

			marker.push(orilayer);
			marker.push(interlayer);
			marker.push(roadlayer);


			for(var i=0;i<marker.length;i++) {
				map.addLayer(marker[i]);
			}


			map.fitBounds(marker[0].getBounds());
		}


		var run = 1;
		var marker = new Array();
		var test = 5;

		var map = null;
		var setup = 1;
		var inter = 3000;
		var refreshID = null;

		var refreshID = setInterval(function(){update();},inter);


		///
		var update = function(){

			if (run == 0){
				clearInterval(refreshID);
			}
			else{
				reloadstep();
				console.log("second");

			}

		}


		function reloadall(){
			$.getJSON("/reblock/reload/", {refresh: "true"}, function(json){
				for(var i=0;i<marker.length;i++) {
					map.removeLayer(marker[i]);
				}
				marker = new Array();
				loadmap(json["ori"],json["rd"], json["int"]);
			});
		}

		function reloadstep(){
			$.getJSON("/reblock/reload_step/", {refresh: "true"}, function(json){
				if (json["start"]){
					if (json["step"]){

						if (setup){
							$("#preload").remove();
							$("#update").append('<div style="width:500px; height:500px" id="map"></div>')
							map = L.map('map');

							L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
								maxZoom: 18,
								attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
								'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
								'Imagery © <a href="http://mapbox.com">Mapbox</a>',
								id: 'joeahand.jc5epc4l'
							}).addTo(map);
							setup = 0;
						}

						if (json["finish"] ){




							run = 0;
							reloadall();
						}else{
							for(var i=0;i<marker.length;i++) {
								map.removeLayer(marker[i]);
							}
							marker = new Array();
							loadmap(json["ori"],json["rd"], json["int"]);

						}

					}else{
						$("#preload").remove();
						$("#update").append('<div id="preload"><p>Making graph...</p></div>');

					}

				}

			});
		}

		// layer from geoJson to overlay on top of map


		//~ var innerdata = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(interJSONList).replace(/\\/g, ''));
		//~ $('<a href="data:' + innerdata + '" download="data.json">  ||Interial Parcels||  </a>').appendTo('#container');
		//~
		//~
		//~ var oridata = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(oriJSONList).replace(/\\/g, ''));
		//~ $('<a href="data:' + oridata + '" download="data.json">  ||All Parcels||  </a>').appendTo('#container');
			//~
		//~ var rddata = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(roadJSONList).replace(/\\/g, ''));
		//~ $('<a href="data:' + rddata + '" download="data.json">  ||Roads||  </a>').appendTo('#container');

	</script>


{% endblock %}

{% endblock %}
