{% extends 'reblock/index.html' %}
{% load static %}

{% block jslibs %}

{% endblock %}

{% block subtitle %}
    Change your password
{% endblock %}

{% block content %}

	<div class="inline-dialog">
		<h2>Password Reset</h2>
		<form method="post" action="." class="dialog-body">
			{% csrf_token %}
			<label for="id_username">Username</label>
			{{ new.username }}
			<label for="id_password">New Password</label>
			{{ new.new_password1 }}

			{% if next %}
				<input type="hidden" name="next" value="{{ new_password1 }}" />
			{% else %}
				<button type="submit" name="next" value="/reblock/">Reset Password</button>
			{% endif %}
		</form>
	</div>
		
{% endblock %}
					
             


{% block scripts %}
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/loadPage.js"></script>
{% endblock %}
