{% extends 'reblock/index.html' %}
{% load static %}

{% block jslibs %}

{% endblock %}

{% block subtitle %}
    Change your password
{% endblock %}

{% block content %}

		
		<form method="post" action=".">
		<table>		
					{% csrf_token %}

		<tr>
				<th>Enter your username</th>
		</tr>
		<tr>
				<td><label for="id_username">Username:</label></td>
				<td>{{ user_form.username }}</td>

                </tr>	
		<tr>
				<td><label for="id_password1">New Password:</label></td>
				<td>{{ new.new_password1 }}</td>
                                
		</tr>	
		</table> 
<!--		<input type="hidden" name="next" value="/" />
		<input type="submit" value="login" />
		-->
		
		</p>
		{% if next %}
		  <input type="hidden" name="next" value="{{ new_password1 }}" />
		{% else %}
		  <button type="submit" name="next" value="/reblock/" />Set new password</button>
		  
		  
		{% endif %}
		
		</form>
		
{% endblock %}
					
             


{% block scripts %}
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/loadPage.js"></script>
{% endblock %}
