{% extends 'reblock/home.html' %}
{% load static %}
{% load webdesign %}

    {% block jslibs %}
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{% get_static_prefix %}css/home.css" type="text/css"/>
        <link rel="stylesheet" href="{% get_static_prefix %}css/layers.css" type="text/css"/>
        <link rel="stylesheet" href="{% get_static_prefix %}css/custom-theme/jquery-ui-1.8.16.custom.css" type="text/css"/>
    {% endblock %}

            {% block header %}
            
            
            
      <a href="/reblock/">

      <div id="pagetitle">
        Open Reblock
                <span id="pagesubtitle">
          {% block subtitle %}
            <!--Browse Data Layers-->
          {% endblock %}
          </span>
      </div>
      </a>
            
            

            {% endblock %}

            {% block nav %}
            <ul>
<!--              <li><a href="/about"><div class="sitenav">About</div></a></li>
              <li><a href="/tools"><div class="sitenav">Download Tools</div></a></li>-->
              {% block layernavs %}
              {% endblock %}
              <li><a href="/reblock/upload"><div class="sitenav">Upload Data</div></a></li>
                          <li><a href="/reblock/profile"><div class="sitenav">Profile</div></a></li>

              <li><a href="/reblock/register"><div class="sitenav">Register</div></a></li>
              <li><a href="/login"><div class="sitenav">Login</div></a></li>
              <li><a href="/reblock/forgot_password"><div class="sitenav">Forgot Password</div></a></li>
              <li><a href="/logout"><div class="sitenav">Logout</div></a></li>

              
            </ul>
            {% endblock %}


    {% block scripts %}
    {% endblock %}

