{% extends 'home-index.html' %}




{% block content %}
      <title>Open Reblock</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

	<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <!--<script src="http://www.html5marketplace.com/slideshow/jquery-1.4.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.html5marketplace.com/slideshow/direct/cssstyles.css" />-->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>



    
    
    
    
    <center>
        <div id = 'update'>
            <a  style = "float:left;margin: 0 0 10px 10px;" id = "0">
            <div style="width:300px; height:300px;" id="map0" class="map" ></div>
            <div id = "prj0"> 
            </div>
            </a>
            <a  style = "float:left; margin: 0 0 10px 10px;" id = "1">
            <div style="width:300px; height:300px;" id="map1" class="map"></div>
            <div id = "prj1">
            </div>
            </a>
            <a  style = "float:left; margin: 0 0 10px 10px;" id = "2">
            <div style="width:300px; height:300px;" id="map2" class="map"></div>
            <div id = "prj2">
            </div>
            </a>

</div>

    
    
</div>
</center>






    <form id = "loadmore" style = "float:left; ">
        <input type="button" value="Load More...">
    </form>
    


    

    
    
    



{% endblock %}
     
     
     
     
     {% block scripts %}

      <script type='text/javascript'>
var currentNum = 2;//current number of loaded map

var testjson = {{ lstjson|safe }};
var testprj = {{ lstprjname|safe }};
var testloc = {{ lstlocation|safe }};


        function addmap(index, json){
            var map = L.map('map'+index);
            L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'examples.map-20v6611k'
		}).addTo(map);
            
            
            
            
            var mygeo = L.geoJson(json, {
            weight: 1,
            color: "#2F4F4F",
            opacity: 1,
            fillColor: "#B0DE5C",
            fillOpacity: 0.4

		});
         map.fitBounds(mygeo.getBounds());
        mygeo.addTo(map);
         
         
            
        }
        
        function mapframe(index){
            frame = '<a  style = "float:left;margin: 0 0 10px 10px;" id = "'+index+'"><div style="width:300px; height:300px;" id="map'+index+'" class="map" ></div><div id = "prj'+index+'"> </div></a>';

            return frame;
            
            
        }


        
        addmap("0", testjson[0]);
        addmap("1",testjson[1]);
        addmap("2",testjson[2]);
        

        
$(document).ready(function(){
    $("#loadmore").click(function(){
        
        
    $.getJSON("/reblock/recent_index/", {index: currentNum}, function(json){
    
    var listjson = json["lstjson"];
    var jsondata = JSON.parse(listjson);
    $("#update").append(mapframe(currentNum+1));
    
    addmap((currentNum+1).toString(), jsondata[0]);
    currentNum +=1;


  });
        
        //$("#div1").remove();
    });
});
        
	</script>
{% endblock %}
