{% extends 'reblock/index.html' %}
{% load static %}
{% load url from future %}

{% block jslibs %}

{% endblock %}

{% block subtitle %}
    Register
{% endblock %}

{% block content %}

	{% if user_form.errors %}
		<p>Your passwords didn't match. Please try again.</p>
	{% endif %}

	<div class="inline-dialog">
		<h2>Password Reset</h2>
		<form method="post" action="." class="dialog-body">
			{% csrf_token %}
			<label for="id_username">Username</label>
			{{ user_form.username }}
			<label for="id_email">Email</label>
			{{ user_form.email }}
			<label for="id_password1">Password</label>
			{{ user_form.password1 }}
			<label for="id_password2">Confirm Password</label>
			{{ user_form.password2 }}

			{% if next %}
				<input type="hidden" name="username" value="{{ register }}" />
			{% else %}
				<button type="submit" name="next" value="/reblock/">Register</button>
			{% endif %}
		</form>
	</div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/loadPage.js"></script>
{% endblock %}

		<!--<form id="login" method="post" action="{% url django.contrib.auth.views.login %}"  enctype="multipart/form-data">-->
		<!--<form id="loggin" action="/login/" method="POST" enctype="multipart/form-data">-->