{% extends "reblock/upload.html" %}

{% block jslibs %}
{% endblock %}

{% block subtitle %}
  Review Data Layers
{% endblock %}




{% block content %}



{% block scripts %}
  <head>
	
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
</head>


<body>
	<div id="map" style="width: 600px; height: 400px"></div>
	<script src="http://leafletjs.com/examples/sample-geojson.js" type="text/javascript"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

<script>
    
    var lat = ("{{centerlat}}")
    var lng = ("{{centerlng}}")
    
    
		var map = L.map('map').setView([lat, lng ], 17);

L.tileLayer('https://a.tiles.mapbox.com/v4/panthersuper.7558b934/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoicGFudGhlcnN1cGVyIiwiYSI6Il9JRlBXMkkifQ.4VOcpN_xI1jf1XxjnIZHmw', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 20,
}).addTo(map);


var myJSONList = (("{{test_layers}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));

myData = JSON.parse( myJSONList );




console.log(campus);

<!--layer from geoJson to overlay on top of map-->


        L.geoJson(myData, {
            weight: 2,
            color: "#999",
            opacity: 1,
            fillColor: "#B0DE5C",
            fillOpacity: 0.8

		}).addTo(map);

	</script>




{% endblock %}





              <form id="layerreviewer" action="/reblock/review/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                <input type="submit" value="Upload New Configuration" />
                  {% for form in formset %}
                  <div class="layer">
                    {{ form.as_p }}
                  </div>
                  {% endfor %}
              </form>
{% endblock %}
