{% extends 'reblock/index.html' %}

{% block jslibs %}
{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
{% endblock %}

{% block content %}
	<div class="inline-dialog">
		<h2>Upload Data Layers</h2>
		<form id="layerreviewer" action="/reblock/review/" method="POST" enctype="multipart/form-data" class="dialog-body">
			{% csrf_token %}
			{{ formset.management_form }}

			<label for="project-name">Project Name</label>
			<input id="project-name" type="text" name="name"/>
			<label for="project-location">Project Location</label>
			<input id="project-location" type="text" name="location"/>

			<!-- Not yet implemented. -->
			<!--
			<label for="barrier-index">Barrier Index</label>
			<input id="barrier-index" type="text" name="barrier_index"/>
			-->

			<label for="project-description">Project Description</label>
			<textarea id="project-description" name="description" rows="4" cols="50"></textarea>
			<button type="submit" value="Start Calculation" class="confirm">Start Calculation</button>
		</form>
	</div>

	<div class="map-container">
		<div style="width:500px; height:500px" id="map" class="map"></div>
	</div>
{% endblock %}
	
{% block scripts %}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
	<script type='text/javascript'>
		var map = L.map('map');
		map.remove();
		map = L.map('map');
				L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'examples.map-20v6611k'
		}).addTo(map);

		var myJSONList = (("{{test_layers}}").replace(/&(l|g|quo)t;/g, function(a,b){
				return {
					l   : '<',
					g   : '>',
					quo : '"'
				}[b];
			}));

		myData = JSON.parse( myJSONList );

		// layer from geoJson to overlay on top of map
		var mygeo = L.geoJson(myData, {
				weight: 1,
				color: "#999",
				opacity: 1,
				fillColor: "#B0DE5C",
				fillOpacity: 0.4

			});

		map.fitBounds(mygeo.getBounds());
		mygeo.addTo(map);
	</script>
{% endblock %}
