{% extends "reblock/upload.html" %}



{% block content %}

{% block scripts %}
  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="http://leafletjs.com/examples/sample-geojson.js" type="text/javascript"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    
</head>


<body>
<div style="width:500px; height:500px" id="map"></div>
 <script type='text/javascript'>


		var map = L.map('map');
        map.remove();
        map = L.map('map');
        		L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'examples.map-20v6611k'
		}).addTo(map);

        
//~ L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    //~ attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    //~ maxZoom: 20,
    //~ id: 'panthersuper.7558b934',
    //~ accessToken: 'pk.eyJ1IjoicGFudGhlcnN1cGVyIiwiYSI6Il9JRlBXMkkifQ.4VOcpN_xI1jf1XxjnIZHmw'
//~ }).addTo(map);


var myJSONList = (("{{test_layers}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));

myData = JSON.parse( myJSONList );




<!--layer from geoJson to overlay on top of map-->


var mygeo = L.geoJson(myData, {
            weight: 1,
            color: "#999",
            opacity: 1,
            fillColor: "#B0DE5C",
            fillOpacity: 0.4

		})


map.fitBounds(mygeo.getBounds());


mygeo.addTo(map);



	</script>
</body>



{% endblock %}

<form id="layerreviewer" action="/reblock/review/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
<input type="submit" value="Start Calculation" />
<div> Project Name: <input type="text" name="name"/></div>
<div> Project Location: <input type="text" name="location"/></div>     
<textarea name="description" rows="4" cols="50">Please Write your project description here...</textarea>


     
</form>
{% endblock %}
