{% extends 'reblock/index.html' %}
{% load static %}
{% load url from future %}

{% block jslibs %}

{% endblock %}

{% block subtitle %}
    Password Set
{% endblock %}

{% block content %}

		<p><h1>Your password is set</h1></p>
		<a href="/login">Login Again</a>
		
		
{% endblock %}
					
             

{% block scripts %}
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/loadPage.js"></script>
{% endblock %}

		<!--<form id="login" method="post" action="{% url django.contrib.auth.views.login %}"  enctype="multipart/form-data">-->
		<!--<form id="loggin" action="/login/" method="POST" enctype="multipart/form-data">-->